.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 3vh;
}

.header-list li {
  margin: 0 10px;
}

.header-list a,
.header-list .navlink-active {
  text-decoration: none;
  color: inherit;
}

.header-list a:hover,
.header-list .navlink-active:hover {
  color: blue;
}
